<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <p>{{msg}}</p>
    <p v-text="msg" title="text"></p>
    <p v-html="msg" title="html"></p>
    <input type="text" v-model="car.brand">
    <input type="text" v-model="msg">
    <p>{{car.brand}}</p>
    <button v-on:click="clickFn">按钮</button>
</div>
</body>
<script src="./src/Watcher.js"></script>
<script src="./src/Compiler.js"></script>
<script src="./src/Observe.js"></script>
<script src="./src/Vue.js"></script>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            msg: 'hello vue',
            car:{
                brand:"brand"
            }
        },
        methods: {
            clickFn() {
                this.$data.msg = '哈哈'
                 this.$data.car.brand = '奔驰'
            }
        }
    })
</script>
</html>